<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.action %> Developer Form</title>
</head>
<body>
    <%- include('partials/navbar'); -%>
    <h1><%= locals.action %> Developer Form</h1>
    <% if (locals.err) { %>
        <ul>
            <li><%= err %></li>
        </ul>
    <% } %>
    <form action="<%= locals.actionLink %>" method="post">
        <label for="companyName">Developer Studio Name</label>
        <% if (locals.dev) { %>
            <input type="text" name="companyName" id="companyName" value="<%= dev.companyname %>">
        <% } else { %>
            <input type="text" name="companyName" id="companyName">
        <% } %>
        <button type="submit"><%= locals.action %></button>
    </form>
</body>
</html>