<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.game.title %> - Info</title>
</head>
<body>
    <a href="/games">Back to games</a>
    <h1><%= locals.game.title %></h1>
    <img src="<%= game.img %>" alt="">
    <p><%= locals.game.developer %></p>
    <p><%= locals.game.releaseYear %></p>
    <p><%= locals.game.description %></p>
    <p><%= locals.game.notes %></p>
    <ul>
        <% locals.game.genres.forEach(g => { %>
            <li><%= g.type %></li>
        <% }); %>
    </ul>
</body>
</html>