<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Game Form</title>
</head>
<body>
    <h1>Add Game Form</h1>
    <% if (locals.formErr) { %>
        <% locals.formErr.forEach(err => { %>
            <li><%= err.msg %></li>
        <% }); %>
    <% } %>
    <form action="/games/new" method="post" style="display: flex; flex-direction: column; width: 400px;">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="img">Image link</label>
        <input type="text" name="img" id="img">
        <label for="developer">Developer</label>
        <select name="developer" id="developer">
            <% locals.devs.forEach(dev => { %>
                <option value=<%= dev.id %>><%= dev.companyname %></option>
            <% }); %>
        </select>
        <label for="releaseYear">Release Year</label>
        <input type="number" name="releaseYear" id="releaseYear">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes"></textarea>
        <fieldset>
            <legend>Have you completed the game?</legend>
            <div>
                <input type="radio" name="isCompleted" value="true" id="true">
                <label for="true">Yes</label>
            </div>
            <div>
                <input type="radio" name="isCompleted" value="false" id="false" checked>
                <label for="false">No</label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Select genre/s:</legend>
            <% locals.genres.forEach(genre => { %>
                <div>
                    <input type="checkbox" id="genre-<%= genre.id %>" name="genre" value="<%= genre.id %>">
                    <label for="genre-<%= genre.id %>"><%= genre.type %></label>
                </div>
            <% }); %>
        </fieldset>
        <button type="submit">Add</button>
    </form>
</body>
</html>