<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.action %> Genre Form</title>
</head>
<body>
    <%- include('partials/navbar'); -%>
    <h1><%= locals.action %> Genre Form</h1>
    <% if (locals.err) { %>
        <ul>
            <li><%= err %></li>
        </ul>
    <% } %>
    <form action="<%= locals.actionLink %>" method="post">
        <label for="type">Genre Type</label>
        <% if (locals.genre) { %>
            <input type="text" name="type" id="type" value="<%= genre.type %>">
        <% } else { %>
            <input type="text" name="type" id="type">
        <% } %>
        
        <button type="submit">Add</button>
    </form>
</body>
</html>